.chart{
    margin: 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 20px -8px #000000; 
box-shadow: 0px 0px 20px -8px #000000;
@media screen and (max-width: 800px){
    // width:77vw;
    // height: calc(100vh / 4);
    overflow-x: auto;
}

    .chartTitle{
        margin-bottom: 20px;
    }
}