.newProduct{
    flex: 4;
    @media screen and (max-width: 800px){
        margin-top: 10vh;
        width: 100vw;
        overflow-y: auto;
     }
    .newProductTitle{
        padding: 0px 0px 0px 20px;
        color: gray;
    }
    .newProductForm{
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;

        .newProductItem{
            width: 400px;
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            margin-right: 20px;

                label{
                    margin-bottom: 10px;
                    font-size: 14px;
                    font-weight: 600;
                    color: grey;
                }
                
                input{
                    height: 40px;
                    border: 1px solid gray;
                    border-radius: 5px;
                    text-align:center;
                   
                }

                .rowUserGender{
                     display: flex;
                     align-items: center;
                    input{
                        margin-top: 5px;
                    }
                    label{
                        margin: 15px;
                        font-size: 18px;
                        color: #555;
                    }
                }

                .newProductSelect{
                    height: 40px;
                    border-radius: 5px;
                }
            }

            .newProductItemUpload{
                width: 400px;
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                margin-right: 20px;

                label{
                    margin-bottom: 10px;
                    font-size: 14px;
                    font-weight: 600;
                    color: grey;
                }
                
                input{
                    height: 40px;
                    border: none;
                    border-radius: 5px;
                    text-align:center;
                   
                }
            }

            .newProductButton{
                width: 200px;
                margin-top: 20px;
                border: none;
                background-color: darkblue;
                font-size: 18px;
                color: white;
                padding: 7px 10px;
                border-radius: 20px;
                cursor: pointer;
            }        
    }
}