.home{
    flex: 4;
   
    @media screen and (max-width: 800px){
        width: 100vw;
        position: absolute;
    }
}

.homeWidget{
    display: flex;
    margin: 20px;
    @media screen and (max-width: 800px){
        flex-direction: column;
        width:88vw;
    }
}